################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSB-API-Hoster/.vs/CSB-API-Hoster/v15/Server/sqlite3/storage.ide
